*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}


/* ------------------------ */
.card{
    height: 50vh;
    width: 40%;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}
.photo{
    border-left: 2px solid #E5E8E9;
    padding-left: 10px;

}

.infos{
    height: 40%;
}

.info{
    padding-right: 10px;
}

.row .label{
    font-size: 2rem;
    font-weight: 900;
}

.row .data{
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.form{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 100%;
    background-color: #27566B;
    display: none;
    /* background-color: #06293D;27566B */
}

.form-group{
    margin-bottom: 10px;
}

.from-control{
    width: 200px;
    padding: 10px;
    text-align: center;
}

.form-group label{
    font-size: 1.20rem;
}

input.from-control{
    font-size: 1.5rem;
    border-radius: 5px;
    border: #799eb0;
    outline: none;
}

select{
    outline: none;
    border-radius: 5px;
}

.form button{
    width: 100%;
    background-color: #06293D;
    color: #E5E8E9;
    outline: none;
    border: 1px solid #799eb0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.next{
    padding: 5px 20px;
    font-size: 1.09rem;
    margin-top: 10px;
    background-color: #27566B;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #E5E8E9;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    background-color: #799eb0;
}
tr,td{
    text-align: center;
    line-height: 30px;
   
}

.form.hide{
    display: none;
}
.content
{
    overflow: hidden;
    overflow-y: scroll;
    height: 14em;
}
.notification
{
    position: absolute;
    top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #799eb0;
    color: white;
    padding: 1rem;
    border-radius: 5px;
 transition: all 1s;
}
.search-num
{
    background-color: #f1f1f1;
    border-radius: 5px;
    list-style-type: none;
    z-index: 2;
    color: #06293D;
    width: 100%;
    margin-bottom: .5rem;
}
.search-num li 
{
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem;
    display: block;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.search-num li:hover
{
    background-color:  #27566B;
    color: #f1f1f1;
}
.open-modal {
    padding: 1rem 1rem;
    background-color:  #27566B;
    color: #f1f1f1;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    
 
 
}
.search-client {
    position: absolute;
    right: 350px;
    top: 60px;
    width: 250px;
    z-index: 2;
    margin-right: 12.5rem;
}
.btnan
{
    border-radius: 5px;
    cursor: pointer;
    background-color: red;

}

.search-client #search-client-input {
    padding: .8rem 2rem;
    margin-top: 8.8rem;

    border: none;
    border-radius: 10px;
    color: #f1f1f1;
    width: 100%;
    background-color:#27566B ;

}

.recherche-client {
    list-style-type: none;
    background-color: #f1f1f1;
    color:  #27566B;
    border-radius: 10px #27566B ;
    margin-bottom: .1rem;
}
.recherche-client li
{
    padding: .6rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.recherche-client li:hover
{
    background-color: #326d89;
    color: #f1f1f1;
}


.flutter
{
    position: absolute;
z-index: 3;
    top: 0;
    width: 100%;
    top: 10%;
    height: 90vh;
    color: white;
    backdrop-filter: blur(8px);
    background-color: #dce4e74b;
    display: none;
}

.modal-add-client {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50vh;
}


.recherche-client li .image {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}
.modal-add-client .modal-header, .modal-add-client .modal-footer {
    padding: 1rem 0;
    background-color: #326d89;
    text-align: center;
    font-size: 1.4rem;
}

.modal-add-client .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color:#27566B ;
   
}

.modal-add-client .modal-body .form-group {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.modal-add-client .modal-body .form-group input {
    width: 60%;
}

.modal-add-client .modal-footer button {
    padding: .5rem 2rem;
    background-color: #f1f1f1;
    border-radius: 6px;
    border: none;
color: #326d89;
}
#annulTrans
{ 
    cursor: pointer;
    display: none;
}